body {
    background-color: hsl(212, 45%, 89%)
}
.container {
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    height: 650px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); 
    text-align: center;
    
}
img {
    margin-top: 5%;
    width: 90%;
    height: 60%;
    border-radius: 10px;
}
.principal {
   color: hsl(218, 44%, 22%);
   font-family: 'Outfit', sans-serif;
   font-size: 25px;
}
.secundario {
    color: hsl(220, 15%, 55%);
    font-size: 18px;
    font-family: 'Outfit', sans-serif;
}